/* CSS file */
@namespace s "library://ns.adobe.com/flex/spark";
@namespace mx "library://ns.adobe.com/flex/mx";
@namespace auditfilters "it.ht.rcs.console.audit.view.filters.*";
@namespace evidencefilters "it.ht.rcs.console.operations.view.evidences.filters.*";
@namespace console "it.ht.rcs.console.*";
@namespace main "it.ht.rcs.console.main.*";
@namespace actionbar "it.ht.rcs.console.main.actionbar.*";
@namespace users "it.ht.rcs.console.accounting.view.users.*";
@namespace operations "it.ht.rcs.console.operations.view.*";
@namespace renderers "it.ht.rcs.console.operations.view.configuration.advanced.renderers.*";
@namespace utils "it.ht.rcs.console.utils.*";
@namespace quick "it.ht.rcs.console.home.view.quick.*";

utils|TitleWindowSaveCancel {
  skinClass: ClassReference("it.ht.rcs.console.main.skins.RCSTitleWindowSaveCancelSkin");
}

s|Form { 
  skinClass: ClassReference("it.ht.rcs.console.main.skins.RCSCompactFormSkin");
}

s|FormItem {
  skinClass: ClassReference("it.ht.rcs.console.main.skins.RCSCompactFormItemSkin");
}

users|InfoPanel s|Form {
  skinClass: ClassReference("spark.skins.spark.FormSkin");
}

users|InfoPanel s|FormItem {
  skinClass: ClassReference("spark.skins.spark.FormItemSkin");
}

s|Panel
{
  backgroundColor: #EAEAEA;
}

actionbar|ActionBar {
  skinClass: ClassReference("it.ht.rcs.console.main.actionbar.RCSActionBarSkin");
}

actionbar|ActionBar s|Button {
  iconPlacement: top;
  skinClass: ClassReference("it.ht.rcs.console.main.actionbar.RCSActionBarButtonSkin");
}

actionbar|ActionBar s|ButtonBar {
  skinClass: ClassReference("it.ht.rcs.console.main.actionbar.RCSActionBarButtonBarSkin");
}

actionbar|ActionBar s|TextInput {
  skinClass: ClassReference("it.ht.rcs.console.main.skins.RCSSearchFieldSkin");
}

renderers|EventRenderer s|Label,
renderers|ActionRenderer s|Label {
  fontFamily: Myriad;
  fontSize: 14;
  lineHeight: 18;
  textAlign: center;
  verticalAlign: middle;
  paddingLeft: 5;
  paddingRight: 5;
}

operations|Breadcrumb mx|LinkButton {
  color: #333333;
}

quick|QuickButtons s|Button {
  skinClass: ClassReference("it.ht.rcs.console.home.view.quick.RCSQuickButtonSkin");
  iconPlacement: top;
}

mx|ToolTip
{
  fontFamily: Arial;
  fontSize: 11;
  fontStyle: italic;
  backgroundColor: #a8c6ee;
  color: #000000;
}

s|Label
{
  color: #454545;
}

s|Label.error
{
  color: #FF0000;
}

s|Label.MonitorAccordion
{
  textAlign: right;
  fontWeight: bold;
  color: #454545;
}

mx|ProgressBar
{
  chromeColor: #a8c6ee;
}

s|Label.MonitorStatus
{
  text-align: center;
  color: #454545;
}

s|Button.AddRemove
{
  fontSize: 17;
  fontWeight: normal;
}

s|Label.AccountingTitles
{
  paddingRight: 0;
  fontFamily: Verdana;
  fontSize: 16;
}

.auditFilter
{
  top: 10;
  right: 10;
  bottom: 10;
  left: 10;
}

evidencefilters|AbstractFilterPopup s|RadioButton s|Label,
evidencefilters|AbstractFilterPopup s|CheckBox s|Label {
  color: #ffffff;
  fontWeight: bold;
}

evidencefilters|TypeFilterItemRenderer s|CheckBox s|Label {
  color: #454545;
  fontWeight: bold;
}

.matched
{
  fontWeight: bold;
  color: #6FA0BF;
}

auditfilters|AbstractFilterPopup s|Label
{
  fontWeight: bold;
  color: #FFFFFF;
}

auditfilters|AbstractFilterPopup s|Button s|Label
{
  fontWeight: bold;
  color: #000000;
}

console|buttons s|Button
{
  width: 30;
  height: 20;
}

s|Label.zapfino
{
  fontFamily: myZapfino
}

@font-face {
  src: url("/img/fonts/MyriadPro-Light.otf");
  fontFamily: Myriad;
  advancedAntiAliasing: true;
  embedAsCFF: true;
}

@font-face {
  src: url("/img/fonts/MyriadPro-Bold.otf");
  fontFamily: Myriad;
  fontWeight: bold;
  advancedAntiAliasing: true;
  embedAsCFF: true;
}

@font-face {
  src: url("/img/fonts/Zapfino.ttf");
  fontFamily: myZapfino;
  advancedAntiAliasing: true;
  embedAsCFF: true; 
}