/* CSS file */
@namespace s "library://ns.adobe.com/flex/spark";
@namespace mx "library://ns.adobe.com/flex/mx";
@namespace filters "it.ht.rcs.console.audit.filters.*";

mx|ToolTip 
{
  fontFamily: "Arial";
  fontSize: 11;
  fontStyle: "italic";
  color: #000000;
  backgroundColor: #a8c6ee;
}

s|Label
{
  color: #454545;
}
  
s|Label.Error
{
  color: #FF0000;
}

mx|LinkButton
{
  color: #454545;
}

s|Label.UserProfile
{
  fontSize: 14;
  fontWeight: bold;
}

s|Label.ClockProfile
{
  fontSize: 14;
  fontWeight: bold;
}

s|Label.MonitorAccordion
{
  color: #454545;
  fontWeight: bold;
  textAlign: right;
}

mx|ProgressBar
{
  chromeColor: #a8c6ee;
}

s|Label.MonitorStatus
{
  color: #454545;
  text-align: center;
}

s|Panel
{
  backgroundColor: #EAEAEA;
}

s|Button.AddRemove
{
  fontSize: 17;
  fontWeight: normal;
}

s|Label.AccountingTitles
{
  fontFamily: Verdana;
  fontSize: 16;
  paddingRight: 0;
}

.auditFilter {
  top: 10;
  right: 10;
  bottom: 10;
  left: 10;
}

filters|AbstractFilterPopup s|Label {
  color: #FFFFFF;
  fontWeight: bold;
}

filters|AbstractFilterPopup s|Button s|Label {
  color: #000000;
  fontWeight: bold;
}