/* CSS file */
@namespace s "library://ns.adobe.com/flex/spark";
@namespace mx "library://ns.adobe.com/flex/mx";
@namespace filters "it.ht.rcs.console.audit.view.filters.*";
@namespace console "it.ht.rcs.console.*";

s|Form { 
  skinClass: ClassReference("it.ht.rcs.console.main.skins.RCSCompactFormSkin"); 
}

s|FormItem { 
  skinClass: ClassReference("it.ht.rcs.console.main.skins.RCSCompactFormItemSkin"); 
}

s|Panel
{
  backgroundColor: #EAEAEA;
}

mx|ToolTip
{
  fontFamily: Arial;
  fontSize: 11;
  fontStyle: italic;
  backgroundColor: #a8c6ee;
  color: #000000;
}

s|Label
{
  color: #454545;
}

s|Label.error
{
  color: #FF0000;
}

s|Label.MonitorAccordion
{
  textAlign: right;
  fontWeight: bold;
  color: #454545;
}

mx|ProgressBar
{
  chromeColor: #a8c6ee;
}

s|Label.MonitorStatus
{
  text-align: center;
  color: #454545;
}

s|Button.AddRemove
{
  fontSize: 17;
  fontWeight: normal;
}

s|Label.AccountingTitles
{
  paddingRight: 0;
  fontFamily: Verdana;
  fontSize: 16;
}

.auditFilter
{
  top: 10;
  right: 10;
  bottom: 10;
  left: 10;
}

.matched
{
  fontWeight: bold;
  color: #6FA0BF;
}

filters|AbstractFilterPopup s|Label
{
  fontWeight: bold;
  color: #FFFFFF;
}

filters|AbstractFilterPopup s|Button s|Label
{
  fontWeight: bold;
  color: #000000;
}

console|buttons s|Button
{
  width: 30;
  height: 20;
}

s|Label.zapfino
{
  fontFamily: myZapfino
}

@font-face {
  src: url("/img/fonts/MyriadPro-Light.otf");
  fontFamily: Myriad;
  advancedAntiAliasing: true;
  embedAsCFF: true;
}

@font-face {
  src: url("/img/fonts/MyriadPro-Bold.otf");
  fontFamily: Myriad;
  fontWeight: bold;
  advancedAntiAliasing: true;
  embedAsCFF: true;
}

@font-face {
  src: url("/img/fonts/Zapfino.ttf");
  fontFamily: myZapfino;
  advancedAntiAliasing: true;
  embedAsCFF: true; 
}